<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Enter New Flight Information</h2>
    <form action="/new" method="POST">
        <label>Airline:
            <input type="text" name="airline">
        </label><br>
        <label>Airport:
            <input type="text" name="airport">
        </label><br>
        <label>Flight Number:
            <input type="text" name="flightNo">
        </label><br>
        <label> Departs:
            <input type="datetime-local">
        </label>
    </form>
    <button type="submit" value="Add Flight">Add Flight</button>

</body>

</html>